# Chapter 2 - Exploring Python further

## 1 Error handling in Python

* It is done througth the use of exceptions.
* In the event of an error occurring, a try block stops execution and hands over the same to except blocks. 
* You can use finally block to execute the statements regardless of whether an exception occurs.
* You can raise an exception such as xx in your program by using 
raise exception[,<value>] statement. It breaks the current code execution and returns the exception block until it is handled.

There are common exception errors that can be trapped.

| # | Error | When Exception is raised |
| -- | ------- | ------------------------------------------------- |
| 1 | IOError | if the file cannot be opened |
| 2 | ImportError | if Python cannot find the module |
| 3 | ValueError | if a built-in operation or function receives an argument that has the right type  but an inappropriate value |
| 4 | KeyboardInterrupt |when the user hits the interrupt key (Ctrl - C or Del key) |
| 5 | EOFError | when end-of-file condition has reached without reading any data |
| 6 | ZeroDivisionError | when an attempt is made to divide a number by zero |
| 7 | TypeError | if a wrong type is given for a calculation or a built-in function

In [1]:
### General exception

try:
       x = 's'
       x = x / 5

except:
       print("\nError in the value given ")

finally:
       print("\nExecuted the code with try - exception block")

Error in the value given

Executed the code with try - exception block

In [2]:
### Example of trapping ZeroDivisionError

try:
       x = 1 / 0

except ValueError:
    
       print("\nError in the value given ")

except ZeroDivisionError:
    
       print("\nAttempt to divide by zero")
    
finally:
       print("\nExecuted the code with try - exception block")

Attempt to divide by zero

Executed the code with try - exception block

In [3]:
### Example of TypeError

try:
       x  = 's'
       x1 = x  / 5

except TypeError:
    
       print("\nError in the type of value given ")

except ZeroDivisionError:
    
       print("\nAttempt to divide by zero")
    
finally:
       print("\nExecuted the code with try - exception block")

Error in the type of value given

Executed the code with try - exception block

For more details, refer https://www.pythonforbeginners.com/error-handling/python-try-and-except

## 2. Regular Expression

https://docs.python.org/3.4/library/re.html

* Regular expressions, regex patterns are essentially a tiny, highly specialized programming language contained in Python.

* The re module provides regular expression matching operations.

* The re module functions fall into three categories: pattern matching, substitution and splitting. A regex describes a pattern to locate in the text.

* You can compile the regex with re.compile forming a reusable regex object. This is highly recommended if you intend to apply the same expression to many strings since this will save time of execution.

Regular expression methods 

| # | Argument  | Description |
| --- | ------------- | -------------------------------- |
| 1 | findall | Return all non-overlapping matching patterns in a string as a list  | 
| 2 | finditer | Like findall, but returns an iterator  | 
| 3 | match | Match pattern at start of string and optionally segment pattern components into groups; if the pattern matches, returns a match object, and otherwise None  | 
| 4 |  search | Scan string for match to pattern; returning a match object if so; unlike match, the match can be anywhere in the string as opposed to only at the beginning  | 
| 5 | split | Break string into pieces at each occurrence of pattern  | 
| 6 | sub, subn | Replace all (sub) or first n occurrences (subn) of pattern in string with replacement expression; use symbols \1, \2, ... to refer to match group elements in the replacement string |

* The function findall returns all matches in a string.
* The functions, match and search are closely related to findall.
* The function, search returns only the first match.
* The function, match only matches at the beginning of the string.

Assume you have a string with variable number of white spaces, tabs and new lines.

* \s+ is the regex for describing one or more whitespace characters.
* \t is for tabs and \n is for new line

In [4]:
import re
txt      = 'Arun Arjun     Babitha   Charan\t Dominic\nEbinezer'
print('\nBefore the split')
print(txt)

print('\nAfter the split')
regex = re.compile('\s+')
print(regex.split(txt))

print('\nTo get a list of all patterns matching the regex')      
regex.findall(txt)

Before the split
Arun Arjun     Babitha   Charan	 Dominic
Ebinezer

After the split
['Arun', 'Arjun', 'Babitha', 'Charan', 'Dominic', 'Ebinezer']

To get a list of all patterns matching the regex

[' ', '     ', '   ', '\t ', '\n']

**Note the regular expression symbols**

* [ ] - indicates a set of characters and characters can be listed individually or collectively as in a range
* The regular expression [A-Z0-9_-]  indicates the pattern of any letter (alphabet) A to Z or any number 0 to 9, underscore(_) or hyphen (-)
* Special characters lose their special meaning inside [] sets. 
* \+ symbol causes the regular expression to match 1 or more repetitions of the preceding regular expression. 
For example xy+ will match  'x' followed by any non-zero number of 'y', but it will not match just 'x'.
* @ matches @ in the string
* \.[A-Z]{3,4} causes the regular expression to match  
* '.' dot outside the set [], matches any character except the newline.
* '\.' escapes the special characters , allowing to match characters like *, ? and (.) - See the above point. We need to differentiate from the above.
* [A-Z]{3,4} causes the resulting regular expression to match from 3 to 4 repetitions of the preceding RE, attempting to match as many repetitions as possible. For example, [A-Z]{2,4} will match any Alphabet (letter) from 2 to 4.

In [5]:
email_ID = """Arun arun22@gmail.com\Bharath bharath380@gmail.com\Gughan gughan@yahoo.co.in abc_91@yahoo.co.in"""
pat = r'[A-Z0-9._-]+@[A-Z0-9.-]+\.[A-Z]{2,4}' # regex pattern

regex = re.compile(pat, flags = re.IGNORECASE) 
# flags = re.IGNORECASE make it case insensitive to consider both upper case and lower case
regex.findall(email_ID)

['arun22@gmail.com',
 'bharath380@gmail.com',
 'gughan@yahoo.co.in',
 'abc_91@yahoo.co.in']

In [6]:
mo = regex.search(email_ID)
mo

The search returns a special match object for the first email address in the text informing us the start and end position of the pattern in the string.

In [7]:
email_ID[mo.start(): mo.end()] 
### get the first email address at the specified range( mo.start() and mo.end())

'arun22@gmail.com'

regex.match returns will match if the pattern occurs at the start of the string.

In [8]:
print(regex.match(email_ID))

None

In the string, email_ID the pattern (of email address) does not occur at the start of the string.
Hence None is displayed.

In [9]:
cust_name = "Peter Reynolds"
mg        = re.match(r"(\w+) (\w+)", cust_name) 

###  \w matches includes most characters that can be part of a word in any language, 
### as well as numbers and the underscore

print("\nFull name")
print(mg.group(0))

print("\nFirst name")
print(mg.group(1))

print("\nSurname")
print(mg.group(2))

Full name
Peter Reynolds

First name
Peter

Surname
Reynolds

In [10]:
mg = regex.findall(email_ID)
print(mg)

['arun22@gmail.com', 'bharath380@gmail.com', 'gughan@yahoo.co.in', 'abc_91@yahoo.co.in']

* The argument sub will return a new string with occurrences of the pattern replaced by a new string.
* The argument, sub also has access to groups in each match using the special symbols like \1 , \2, \3 corresponding to the first matched group , second matched group and third matched group respectively.

An example of using the sub() method. It replaces colour names with the word colour:

In [11]:
rt = re.compile('white|black|blue|red')
rt.sub('colour', 'white socks and black shoes')

'colour socks and colour shoes'

If you want to split a sentence into words, you can use split()

In [12]:
pr = re.compile(r'[^a-zA-Z]', flags = re.IGNORECASE) # ^ indicates expression beginning with
pr.split('This is a test sentence')

['This', 'is', 'a', 'test', 'sentence']

Extract numbers from the text such as description. Get the age in number occuring after the key word 'age is'.

In [13]:
s        = 'My age is 31 years and income is Rs 43000'
words    = s.split('age is',2)
print('\nAfter splitting the sentence My age is 31 years and income is Rs 43000')
print('\nWe get the two strings, before and after "age is" ', words)
print('Again split to get only age')
words_age = s.split('years',2) # Split the words into two before the word years and after 
pr        = re.compile(r'\d+')
print('After extracting the numerical value of age, we get')
print(pr.findall(words_age[0])) # from the words before the word years

print('After extracting the numerical value of income, we get')

print(pr.findall(words_age[1])) # from the words after the word years

After splitting the sentence My age is 31 years and income is Rs 43000

We get the two strings, before and after "age is"  ['My ', ' 31 years and income is Rs 43000']
Again split to get only age
After extracting the numerical value of age, we get
['31']
After extracting the numerical value of income, we get
['43000']

For more details on regular expression, refer to the following links:

https://www.programiz.com/python-programming/regex
https://docs.python.org/3/howto/regex.html
https://docs.python.org/3.4/library/re.html

## 3 File handling

### a) Text files

### Write and read text file

**Syntax to open a file object in Python is:**

fp = open('filename', 'mode') where fp is the file pointer.

mode informs us which way the file will be used

Some useful modes:
* r  read mode for read only
* w  write mode - existing file overwritten 
* a  append mode - add new data at the end
* r+ read and write mode


* write() statements write into a file while read() reads from the existing file
* close() to close the file completely and terminating the resources in use.

Write numbers from 10 to 20 in a file names as new_data.txt in the current working directory

In [14]:
fp = open('new_data.txt', mode = 'w')

for i in range(10,20):
    string = str(i) + '\n'
    fp.write(string)
    
fp.close()

Read the data file, new_data.txt only upto the record where the line is blank

In [15]:
fp = open('new_data.txt', mode = 'r')

for line in fp:
    print(line)
fp.close()

10

11

12

13

14

15

16

17

18

19

**Statement with will automatically open and close the file.**

In [16]:
with open("new_data.txt") as f:
    for line in f:
        print(line)

10

11

12

13

14

15

16

17

18

19

For more details, please refer to https://www.geeksforgeeks.org/file-handling-python/

### b) Access database like mySQL

####  Python DB-API is the Python standard for database interfaces. 
####  Python Database API supports a wide range of database servers such as −
* MySQL
* PostgreSQL
* Microsoft SQL Server 2000
* Oracle

#### You need to download a separate DB API module for each database you need to access. 

*For example, if you need to access an Oracle database as well as a MySQL database, you must download both the Oracle and the MySQL database modules.*

How do I install MySQLdb? Type the following command at Anaconda command prompt with administrator privilege.

pip install MySQL-python

Before connecting to a MySQL database, create a database DBFORTEST.

* A Connection Object is returned and stored in db, when a connection is established with the datasource, specified as arguments in the function, MySQLdb.connect
* Otherwise db is set to None. 
* Then db object is used to create cursor, a cursor object, which in turn is used to execute SQL queries. 
* Finally, before exiting it ensures that database connection is closed and resources are released.

In [17]:
import   MySQLdb

print('Open database connection')
db = MySQLdb.connect("localhost","root","","DBFORTEST" )

print('Prepare a cursor object using cursor() method')
cursor = db.cursor()

print('Execute SQL query using execute() method')
cursor.execute("SELECT VERSION()")

print('Fetch a single row using fetchone() method')
data = cursor.fetchone()
print("Database version : %s " % data)

print('Disconnect from server')
db.close()

Open database connection
Prepare a cursor object using cursor() method
Execute SQL query using execute() method
Fetch a single row using fetchone() method
Database version : 10.1.31-MariaDB
Disconnect from server

### Create tables in the database, DBFORTEST

In [18]:
print('Open database connection')
db = MySQLdb.connect("localhost","root","","DBFORTEST" )

print('Prepare a cursor object using cursor() method')
cursor = db.cursor()

print('Drop table if it already exist using execute() method to avoid error')
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

print('Create table EMPLOYEE with FIRST_NAME, LAST_NAME, AGE, SALARY')

sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME CHAR(30) NOT NULL,
         LAST_NAME  CHAR(30),
         AGE        INT,  
         SALARY     FLOAT(8,2))"""

cursor.execute(sql)

print('Disconnect from server and release resources')
db.close()

Open database connection
Prepare a cursor object using cursor() method
Drop table if it already exist using execute() method to avoid error
Create table EMPLOYEE with FIRST_NAME, LAST_NAME, AGE, SALARY
Disconnect from server and release resources

Having created a table, EMPLOYEE in the database, DBFORTEST

We have established a database connection.

Build a dictionary to hold the relevant attributes of an EMPLOYEE and access values one by one

In [19]:
emp_dict = {'first_name': ['John','Thomas','William','Susan'],\
            'last_name': ['Mathew','Robert','Peter','James'],\
            'age' : [24, 43, 43, 40],\
            'salary' : [12000, 24000,24000, 22000]}

n        =  len(emp_dict)

for i in range(n):
    
    fn  = '%s' % emp_dict['first_name'][i] 
    ln  = '%s' % emp_dict['last_name'][i] 
    age = emp_dict['age'][i] 
    sal = emp_dict['salary'][i]
    print(fn, sal)

John 12000
Thomas 24000
William 24000
Susan 22000

Having created a table, EMPLOYEE, we need to insert records.

In [20]:
print('Open database connection')
db = MySQLdb.connect("localhost","root","","DBFORTEST" )

print('Prepare a cursor object using cursor() method')
cursor = db.cursor()

emp_dict  = {'FIRST_NAME': ['John','Thomas','William','Susan'],\
            'LAST_NAME': ['Mathew','Robert','Peter','James'],\
            'AGE' : [24, 43, 43, 40],\
            'SALARY' : [12000, 24000,24000, 22000]}

n         =  len(emp_dict)

table         = 'EMPLOYEE'    
columns_string= '('+','.join(emp_dict.keys())+')'    


print('Prepare SQL query to INSERT records into the EMPLOYEE table in the database.')

for i in range(n):
    
    fn         = str(emp_dict['FIRST_NAME'][i])
    ln         = str(emp_dict['LAST_NAME'][i])
    age        = emp_dict['AGE'][i]
    sal        = emp_dict['SALARY'][i]
    '''
    sql = "Insert Into EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) Values \
           (%s, %s, %d, %d)" % (fn, ln, age, sal)
    '''
    values_string = '(' + "\'" + fn + "\'," + "\'" + ln + "\'," + str(age) + "," + str(sal) + ')'
    #values_string = '('+','.join(map(str, emp_dict.values()))+')'
    print(values_string)
    
    sql = """INSERT EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) VALUES %s""" % (values_string)

    print(sql)

    try:
       # Execute the SQL command
       cursor.execute(sql)
       # Commit your changes in the database
       db.commit()
    except:
       # Rollback in case there is any error
       print('Error')
       db.rollback()

# disconnect from server
db.close()

Open database connection
Prepare a cursor object using cursor() method
Prepare SQL query to INSERT records into the EMPLOYEE table in the database.
('John','Mathew',24,12000)
INSERT EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) VALUES ('John','Mathew',24,12000)
('Thomas','Robert',43,24000)
INSERT EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) VALUES ('Thomas','Robert',43,24000)
('William','Peter',43,24000)
INSERT EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) VALUES ('William','Peter',43,24000)
('Susan','James',40,22000)
INSERT EMPLOYEE (FIRST_NAME, LAST_NAME,AGE, SALARY) VALUES ('Susan','James',40,22000)

In [21]:
print('Open database connection')
db = MySQLdb.connect("localhost","root","","DBFORTEST" )

print('Prepare a cursor object using cursor() method')
cursor = db.cursor()

print('Prepare a sql statement')

sql = "SELECT * FROM EMPLOYEE WHERE SALARY > '%d'" % (20000)

try:
   print('Execute the SQL command')
   cursor.execute(sql)
    
   print('Fetch all the records in a list of lists.')

   results = cursor.fetchall()
    
   for rec in results:
      fn     = rec[0]
      ln     = rec[1]
      age    = rec[2]
      sal    = rec[3]
    
      print('Print fetched result')
      print("first_name = %s,last_name = %s, age = %d, salary = %d" % \
             (fn, ln, age, sal ))
except:
   print("Error: unable to fecth data")

print('disconnect from server and release the resources')
db.close()

Open database connection
Prepare a cursor object using cursor() method
Prepare a sql statement
Execute the SQL command
Fetch all the records in a list of lists.
Print fetched result
first_name = Thomas,last_name = Robert, age = 43, salary = 24000
Print fetched result
first_name = William,last_name = Peter, age = 43, salary = 24000
Print fetched result
first_name = Susan,last_name = James, age = 40, salary = 22000
disconnect from server and release the resources

### c) Access JSON file data

Since its inception, JavaScript Object Notation (JSON) is a very popular standard for information exchange.

* A *with* simplifies the process of reading and closing the file.
* By using the json.load methods, you can convert the JSON into a dictionary.

Refer https://realpython.com/python-json/

In [22]:
import json

with open('sample.json', 'r') as f:
    sample_dict = json.load(f)

print('Name key\n')    
for _ in sample_dict:
    print(_['Name'])
    
print('Dictionary from JSON object\n')    
print(sample_dict)

Name key

Debian
Ubuntu
Fedora
CentOS
OpenSUSE
Arch Linux
Gentoo
Dictionary from JSON object

[{'Name': 'Debian', 'Version': '9', 'Install': 'apt', 'Owner': 'SPI', 'Kernel': '4.9'}, {'Name': 'Ubuntu', 'Version': '17.10', 'Install': 'apt', 'Owner': 'Canonical', 'Kernel': '4.13'}, {'Name': 'Fedora', 'Version': '26', 'Install': 'dnf', 'Owner': 'Red Hat', 'Kernel': '4.13'}, {'Name': 'CentOS', 'Version': '7', 'Install': 'yum', 'Owner': 'Red Hat', 'Kernel': '3.10'}, {'Name': 'OpenSUSE', 'Version': '42.3', 'Install': 'zypper', 'Owner': 'Novell', 'Kernel': '4.4'}, {'Name': 'Arch Linux', 'Version': 'Rolling Release', 'Install': 'pacman', 'Owner': 'SPI', 'Kernel': '4.13'}, {'Name': 'Gentoo', 'Version': 'Rolling Release', 'Install': 'emerge', 'Owner': 'Gentoo Foundation', 'Kernel': '4.12'}]

#### Write as a JSON file

json.dump() takes a Python object, serializes it and writes the output (which is a JSON string) to a file.

In [23]:
customer = {
         'first_name': "Johnson",
         "isAlive": True,
         "age": 23,
         "hasMortgage": None
     }

with open('customer.json', 'w') as f:  # writing JSON object
    json.dump(customer, f)
 
print(open('customer.json', 'r').read())   # reading JSON object as string

{"first_name": "Johnson", "isAlive": true, "age": 23, "hasMortgage": null}

In [24]:
print(type(open('customer.json', 'r').read())   )

<class 'str'>

## 4 Data Type - Lists, Tuples, Dictionary, Data Frame 

### Tuple

* They hold different type of data(integer, float, list etc).
* Tuple are immutable.
* The items list is enclosed between parenthesis”()”.

In [25]:
tuple1 = (1, 2, 3, 4, 'an')
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4, 'an')
<class 'tuple'>

#### tuple unpacking

In [26]:
a, b, c, d, e  = tuple1
print(a, b, c, d, e)

1 2 3 4 an

In [27]:
print(tuple1[0])
print(tuple1[-1])
tuple1 = ('R', 'R', 'D') # tuples can be re-assigned
print(tuple1)

1
an
('R', 'R', 'D')

#### tuple indexing 

Use the index operator [] to access an item in a tuple, where the index starts from 0.

The index must be an integer.

In [28]:
print(tuple1[0])
print(tuple1[-1])

R
D

#### tuples can be re-assigned but cannot be changed

In [29]:
tuple1 = ('R', 'R', 'D') 
print(tuple1)

('R', 'R', 'D')

#### Concatenate

In [30]:
t1 = (1,2,3) 
t2 = (10, 11, 12)
t3 = t1 + t2 # concatenate
print(t3)

(1, 2, 3, 10, 11, 12)

#### Nested tuples

In [31]:
tuple1 = ((1,2,3), (4,5,6))
print(tuple1)

((1, 2, 3), (4, 5, 6))

### Nested index

In [32]:
print(tuple1[1][0]) # Get the first element in the second sub tuple

4

In [33]:
print(tuple1[0][1]) # Get the second element in the first sub tuple

2

#### Negatvie indexing

The index of -1 reThe index of -1 refers to the last item, -2 to the second last item and so on.
fers to the last item, -2 to the second last item and so on.

In [34]:
print(tuple1[-1][1]) # Get the second element in the last sub tuple

5

#### Slicing a tuple

We can access a range of items in a tuple by using the slicing operator - colon ":".

In [35]:
print(tuple1[-1][:]) ## Get all elements in the last sub- tuple

(4, 5, 6)

In [36]:
print(tuple1[-1][:2]) ## Get first two elements in the last sub- tuple

(4, 5)

In [37]:
print(tuple1[-1][1:]) ## Get last two elements in the last sub- tuple

(5, 6)

#### Deletion of a tuple

It is “Immutable” so we cannot delete or remove items from a tuple.

But deleting a tuple entirely is possible using the keyword ”del”.

In [38]:
mytuple = (1 ,2, 23)
print(mytuple)
print('Does mytuple exist?')
print(isinstance(mytuple, tuple))

(1, 2, 23)
Does mytuple exist?
True

In [39]:
del mytuple

In [40]:
try:
    print(isinstance(mytuple, tuple))
except NameError: # The object does not exist resulting in a NameError
    print('Error mytuple does not exist')

Error mytuple does not exist

#### tuple operators

* \+ operator : “concatenation”.

* \* operator : “Replication”.

In [41]:
tuple1 = (10, 11, 12, 13, 14)
tuple2 = (20, 21, 22, 23, 24)

In [42]:
tuple3 = tuple1 + tuple2
print(tuple3)

(10, 11, 12, 13, 14, 20, 21, 22, 23, 24)

In [43]:
tuple_Single = ('*',) # Note the comma is used inside the paranthesis
print(tuple_Single * 4) # replicates four times

('*', '*', '*', '*')

#### tuple methods

Two methods are available in tuple.
* Count(x) 
* index(x)

In [44]:
tuple1 = ('H','E','L','L','O','W','O','R','L','D')

In [45]:
print('tuple1.count(\'L\')')
print(tuple1.count('L'))  # count of L

print('tuple1.index(\'L\')')
print(tuple1.index('L'))  # first index of L

tuple1.count('L')
3
tuple1.index('L')
2

#### tuple membership

We can test if an item exists in a tuple or not, using the keyword in.

In [46]:
print('L' in tuple1)  # Check if L exists in tuple1

True

In [47]:
print('G' in tuple1)  # Check if G does not exist in tuple1

False

#### Iterating through a tuple

Using a for loop we can iterate though each item in a tuple

In [48]:
for n in tuple1:
    print("number is ", n)

number is  H
number is  E
number is  L
number is  L
number is  O
number is  W
number is  O
number is  R
number is  L
number is  D

#### Built-in functions in tuple

Built-in functions like enumerate(), len(), max(), min(), sorted(), tuple() etc.

In [49]:
tuple_numbers = (23, 34, 45, 56, 67, 10)

print('length of tuple, tuple_numbers is %d' %len(tuple_numbers))

length of tuple, tuple_numbers is 6

In [50]:
print('Minimum of tuple, tuple_numbers is %d' %min(tuple_numbers))
print('Maximum of tuple, tuple_numbers is %d' %max(tuple_numbers))

Minimum of tuple, tuple_numbers is 10
Maximum of tuple, tuple_numbers is 67

In [51]:
print('sorted of tuple, tuple_numbers is ', sorted(tuple_numbers))

sorted of tuple, tuple_numbers is  [10, 23, 34, 45, 56, 67]

In [52]:
print('enumerate of tuple, tuple_numbers is ', (tuple_numbers)) # Get elements one by one

enumerate of tuple, tuple_numbers is  (23, 34, 45, 56, 67, 10)

### List

* A list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.
* It can have any number of items of different data types (integer, float, string).
* A list is mutable, meaning that a part of the list can be over-written.
* A list can be nested meaning that a list can have another list as an item.

In [53]:
empty_list = [] # list is empty
print(empty_list, type(empty_list))

int_list1  = [1,2,3,4,5,6,7,39] # A list containing integers
print(int_list1, type(int_list1))

mixed_list1  = [1,2,3,4,5,6,7,39, 'A' ,'B'] # A list containing integers ans strings
print(mixed_list1, type(mixed_list1))

nested_list1 = [[1,2,3,4,5,6,7,39], 'Hello', ['A' ,'B'], [100, 200, 300]] # A list containing integers ans strings
print(nested_list1, type(nested_list1))

[] <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 39] <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 39, 'A', 'B'] <class 'list'>
[[1, 2, 3, 4, 5, 6, 7, 39], 'Hello', ['A', 'B'], [100, 200, 300]] <class 'list'>

#### List Indexing

* Index starts from 0.
* Nested list are accessed using nested indexing

In [54]:
print('int_list1[2] = ',int_list1[2]) 
# Get third element of the above list, int_list1 which is 3 

print('nested_list1[2][1] = ',nested_list1[2][1]) 
# Get second element of the third list in, nested_list1 which is B 

print('nested_list1[0][0] = ',nested_list1[0][0]) 
# Get first element of the first list in, nested_list1 which is 1

print('nested_list1[1][1] = ',nested_list1[1][1]) 
# Get second element of the second element of a string in nested_list1 which is e

int_list1[2] =  3
nested_list1[2][1] =  B
nested_list1[0][0] =  1
nested_list1[1][1] =  e

#### Negative indexing

* Python allows negative indexing for its sequences.
* The index of -1 refers to the last item

In [55]:
print('nested_list1[2][-1] = ', nested_list1[2][-1]) 
# Get last element of the third list in, nested_list1 which is B 

print('nested_list1[1][-2] = ', nested_list1[1][-2]) 
# Get second last element of the second list in, nested_list1 which is letter, l

nested_list1[2][-1] =  B
nested_list1[1][-2] =  l

#### Slice lists

* We can access a range of items in a list by using the slicing operator (colon :)

In [56]:
print('int_list1[:2] = ',int_list1[:2]) 
# Get first two elements of the above list, int_list1: 1,2

print('int_list1[2:] = ',int_list1[2:]) 
# Get third element onwards of the above list, int_list1: 3, 4, 5, 6, 7, 39

print('int_list1[:] = ',int_list1[:]) 
# Get all elements of the list, int_list1: 1, 2, 3, 4, 5, 6, 7, 39

int_list1[:2] =  [1, 2]
int_list1[2:] =  [3, 4, 5, 6, 7, 39]
int_list1[:] =  [1, 2, 3, 4, 5, 6, 7, 39]

* List are mutable which implies that elements can be changed unlike String or tuple. 
* Insertion and deletion can be performed.
* Assignment operator (=) is used to change an item or a range of items.

In [57]:
print('Before muting int_list1 is')
print('int_list1 = ',int_list1) 
int_list1[2] = 50 # Change the third element 3 with 50

print('\nAfter muting int_list1 is')
print('int_list1 = ',int_list1)

Before muting int_list1 is
int_list1 =  [1, 2, 3, 4, 5, 6, 7, 39]

After muting int_list1 is
int_list1 =  [1, 2, 50, 4, 5, 6, 7, 39]

#### List Operators

* “+” operator used to combine two lists.
* “*” operator repeats a list for the given number of times.

In [58]:
int_list1    = [1,2,3,4,5,6,7,39] # A list containing integers
mixed_list1  = [1,2,3,4,5,6,7,39, 'A' ,'B'] # A list containing integers ans strings

mixed_list2  = int_list1 + mixed_list1 
print(mixed_list2, type(mixed_list2))

[1, 2, 3, 4, 5, 6, 7, 39, 1, 2, 3, 4, 5, 6, 7, 39, 'A', 'B'] <class 'list'>

In [59]:
spl_list1  = ['*','*']
print('spl_list1 * 4',spl_list1 * 4)
# “*” operator repeats spl_list1 four times.

spl_list2  = ['A','Z']
print('spl_list2 * 2',spl_list2 * 2)
# “*” operator repeats spl_list2 twice.

spl_list1 * 4 ['*', '*', '*', '*', '*', '*', '*', '*']
spl_list2 * 2 ['A', 'Z', 'A', 'Z']

#### Delete elements from a list

* Is it possible to delete elements from a list? If so, how?

* Yes. By using the ”del” keyword, we can remove one or more items from a list.

In [60]:
print('Before deleting the second element from the list, spl_list2')
print('spl_list2',spl_list2)

del spl_list2[1] # Remove second element

print('After deleting the second element from the list, spl_list2')
print('spl_list2',spl_list2)

Before deleting the second element from the list, spl_list2
spl_list2 ['A', 'Z']
After deleting the second element from the list, spl_list2
spl_list2 ['A']

In [61]:
try:
    print(isinstance(spl_list2, list))
    print('List spl_list2 does exist')
except NameError: # The object does not exist resulting in a NameError
    print('Error spl_list2 does not exist')

True
List spl_list2 does exist

In [62]:
### remove entire list
del spl_list2

### Check if we have actually removed the entire list
try:
    print(isinstance(spl_list2, list))
    
except NameError: # The object does not exist resulting in a NameError
    print('Error spl_list2 does not exist')

Error spl_list2 does not exist

#### List methods

* **append** is used to add an element to the end of the list
* **extend** is used to add all elements of a list to another list
* **insert** is used to insert an item at the defined index
* **remove** is used to remove an item from the list
* **pop** is used to remove and returns an element at the given index
* **index** is used to return the index of the first matched item
* **sort** is used to sort items in a list in ascending order
* **reverse** is used to reverse order of the items in the list
* **count** is used to get the count of number of items

The append() method adds a single item to the existing list.

In [63]:
fruit = ['apple', 'banana', 'orange']
print('fruit',fruit)

fruit.append('mango')
print('fruit',fruit)

fruit ['apple', 'banana', 'orange']
fruit ['apple', 'banana', 'orange', 'mango']

The extend() method adds all elements of a list to another list. It only modifies the original list.

In [64]:
_languages = ['Czech', 'Danish', 'Dutch', 'English','Finnish',\
                      'French', 'German', 'Italian'] # Note underscore(_) is a valid symbol 
print('\nEuropean_languages', _languages)

indian_languages   = ['Hindi', 'Tamil', 'Telegu','Kannada','Gujarati','Panjabi','Bengali']
print('\nIndian_languages', indian_languages)

_languages.extend(indian_languages)
print('\n_languages', _languages)

European_languages ['Czech', 'Danish', 'Dutch', 'English', 'Finnish', 'French', 'German', 'Italian']

Indian_languages ['Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi', 'Bengali']

_languages ['Czech', 'Danish', 'Dutch', 'English', 'Finnish', 'French', 'German', 'Italian', 'Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi', 'Bengali']

The remove() method only removes the given element from the list

In [65]:
print('\nBefore removing the language, Finnish')
print('_languages', _languages)

_languages.remove('Finnish')

print('\nAfter removing the language, Finnish')
print('_languages', _languages)

Before removing the language, Finnish
_languages ['Czech', 'Danish', 'Dutch', 'English', 'Finnish', 'French', 'German', 'Italian', 'Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi', 'Bengali']

After removing the language, Finnish
_languages ['Czech', 'Danish', 'Dutch', 'English', 'French', 'German', 'Italian', 'Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi', 'Bengali']

### pop

* Removes the element present at that index from the list.
* The pop() method removes the element at the given index and updates the list.
* If no parameter is passed, the default index,-1 is passed as an argument 
  which returns the last element

In [66]:
print('\nBefore pop out the last language, Bengali')
print('_languages', _languages)

drop_languages = _languages.pop(-1)

print('\nAfter pop out the last language, Bengali')
print('drop_languages', drop_languages)
print('_languages', _languages)

### Check if we have actually removed language Bengali from _languages

try:
    _languages.pop(13) # Bengali was the fourteenth element in the language list
    print('\nBengali does exist in the _languages list')
    
except IndexError: # The object does not exist resulting in an IndexError
    print('\nBengali does not exist in the _languages list')

Before pop out the last language, Bengali
_languages ['Czech', 'Danish', 'Dutch', 'English', 'French', 'German', 'Italian', 'Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi', 'Bengali']

After pop out the last language, Bengali
drop_languages Bengali
_languages ['Czech', 'Danish', 'Dutch', 'English', 'French', 'German', 'Italian', 'Hindi', 'Tamil', 'Telegu', 'Kannada', 'Gujarati', 'Panjabi']

Bengali does not exist in the _languages list

### Methods Index(),count(),sort(),reverse()

In [67]:
print("_languages.index('Italian')", _languages.index('Italian')) # returns index position

num_list = [1, 2, 2, 2, 3, 4, 5, 6]
print("num_list.count(2)", num_list.count(2)) # returns the count 3

_languages.sort()
print("sorted_list", _languages)     # returns the sorted list - sorting in place
_languages.reverse()
print("reverse_list", _languages)     # returns the  list in reverse order

_languages.index('Italian') 6
num_list.count(2) 3
sorted_list ['Czech', 'Danish', 'Dutch', 'English', 'French', 'German', 'Gujarati', 'Hindi', 'Italian', 'Kannada', 'Panjabi', 'Tamil', 'Telegu']
reverse_list ['Telegu', 'Tamil', 'Panjabi', 'Kannada', 'Italian', 'Hindi', 'Gujarati', 'German', 'French', 'English', 'Dutch', 'Danish', 'Czech']

####  A few Built-in functions:  len() , max() ,  min() , sum(), sorted()

In [68]:
print("\nLength of _languages list", len(_languages))
print("\nMaximum number in num_list", max(num_list))
print("\nMinimum number in num_list", min(num_list))
print("\nSum of elements in num_list", sum(num_list))
print("\nsorted elements in num_list", sorted(num_list))

Length of _languages list 13

Maximum number in num_list 6

Minimum number in num_list 1

Sum of elements in num_list 25

sorted elements in num_list [1, 2, 2, 2, 3, 4, 5, 6]

### Dictionary

**Dictionaries** are similar to compound types such as strings, tuples and lists.
* Dictionaries can use any immutable type as index unlike tuples and lists which use integers as index.
* The elements of a dictionary appear in a comma separated list. 
* An empty dictionary is denoted by {}
* Each entry contains a key (an index) and a value separated by a colon. 
* Elements of the dictionary are called **key-value** pair.
* Example of a dictionary: fruit_dict = {'fruit': ['apple', 'orange','mango','banana']}
* A dictionary can be created from an empty dictionary and adding elements.
* Another way of creating the dictionary is to use a list of key value pairs.

##### Create a dictionary from an empty dictionary

In [69]:
fruit_dict            = {}  # empty dictionary
fruit_dict['fruit']   = ['apple', 'orange','mango','banana']
print(fruit_dict, type(fruit_dict))

{'fruit': ['apple', 'orange', 'mango', 'banana']} <class 'dict'>

#### Another method 1

In [70]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana']}
print(fruit_dict, type(fruit_dict))

{'fruit': ['apple', 'orange', 'mango', 'banana']} <class 'dict'>

#### Another method 2

In [71]:
fruit_dict = dict({'fruit': ['apple', 'orange','mango','banana']}) # use the function, dict
print(fruit_dict, type(fruit_dict))

{'fruit': ['apple', 'orange', 'mango', 'banana']} <class 'dict'>

### Methods available in the dictionary

* **clear()**  removes all items from the dictionary
* **values()** returns a new view of the dictionary values
* **get(key[,d])** returns the value of the key. In the absence of a key, return d 
* **items()** returns a new view of the dictionaries items (key, values)
* **keys()** returns a new view of the dictionary keys
* **pop(key[,d])** removes the item with key and returns its value of d if key is not found. If d is not provided and the key is not found, raises Key error
* **update([other])** updates the dictionary with the key / value pairs from other overwriting existing keys.


#### How to access elements from a dictionary?

In [72]:
print(fruit_dict.get('fruit')) # use the get function

['apple', 'orange', 'mango', 'banana']

In [73]:
print(fruit_dict['fruit']) # without using the get function

['apple', 'orange', 'mango', 'banana']

When you access from a non-existing dictionary, you get NameError.

In [74]:
try:
    fruit_dicts.get('fruit')   
    
except NameError:
    print('\n--->>> The dictionary does not exist')

--->>> The dictionary does not exist

When you access a non existing element from an existing dictionary, you get None.

In [75]:
if fruit_dict.get('fruits') == None:  
    print('\n--->>> The dictionary key does not exist')

--->>> The dictionary key does not exist

### change or remove elements from a dictionary

In [76]:
emp_1_dict = {'name': 'Arun', 'age' : 42, 'date of birth':'02-22-1987'}
print('emp_1_dict.keys()',emp_1_dict.keys())
print('emp_1_dict.values()',emp_1_dict.values())

emp_1_dict.keys() dict_keys(['name', 'age', 'date of birth'])
emp_1_dict.values() dict_values(['Arun', 42, '02-22-1987'])

### Change age from 42 to 24

In [77]:
print('Change age from 42 to 24')
emp_1_dict['age'] = 24
print('emp_1_dict.keys()',emp_1_dict.keys())
print('emp_1_dict.values()',emp_1_dict.values())

Change age from 42 to 24
emp_1_dict.keys() dict_keys(['name', 'age', 'date of birth'])
emp_1_dict.values() dict_values(['Arun', 24, '02-22-1987'])

Add an item, 'email-id':'arun33@gmail.com'

In [78]:
emp_1_dict['email-id'] = 'arun33@gmail.com'

print("\n After adding the email-id")
print('emp_1_dict.keys()',emp_1_dict.keys())
print('emp_1_dict.values()',emp_1_dict.values())

 After adding the email-id
emp_1_dict.keys() dict_keys(['name', 'age', 'date of birth', 'email-id'])
emp_1_dict.values() dict_values(['Arun', 24, '02-22-1987', 'arun33@gmail.com'])

#### Remove or delete items from the dictionary

* The pop() method, removes a particular item in a dictionary.
* The popitem() removes and return an arbitrary item (key, value) form the dictionary.
* clear(), method removes all the items at once.
* The ”del” keyword removes individual items or the entire dictionary

In [79]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print('Before deleting using pop(1)')
print(fruit_dict)

print('\nThe values removed')
print(fruit_dict.pop('quantity'))

print("\nAfter deleting using pop('quantity')")
print(fruit_dict)

Before deleting using pop(1)
{'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}

The values removed
[10, 10, 6, 0]

After deleting using pop('quantity')
{'fruit': ['apple', 'orange', 'mango', 'banana']}

In [80]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print('Before deleting using popitem()')
print(fruit_dict)

print('\nThe values removed')
print(fruit_dict.popitem())

print("\nAfter deleting using popitem")
print(fruit_dict)

Before deleting using popitem()
{'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}

The values removed
('quantity', [10, 10, 6, 0])

After deleting using popitem
{'fruit': ['apple', 'orange', 'mango', 'banana']}

In [81]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print('Before deleting using clear()')
print(fruit_dict)

print('\nThe values removed')
print(fruit_dict.clear())

print("\nAfter deleting using clear")
print(fruit_dict)

Before deleting using clear()
{'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}

The values removed
None

After deleting using clear
{}

In [82]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print("Before deleting using del fruit_dict['quantity']")
print(fruit_dict)

print("\nitem 'quantity' removed")
del fruit_dict['quantity']

print("\nAfter deleting using del")
print(fruit_dict)

Before deleting using del fruit_dict['quantity']
{'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}

item 'quantity' removed

After deleting using del
{'fruit': ['apple', 'orange', 'mango', 'banana']}

In [83]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print("Before deleting using del fruit_dict['quantity']")
print(fruit_dict)

print("\ndictionary removed")
del fruit_dict

try:
    fruit_dicts.get('fruit')   
    
except NameError:
    print('\n--->>> The dictionary does not exist')

Before deleting using del fruit_dict['quantity']
{'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}

dictionary removed

--->>> The dictionary does not exist

#### update()

The update() method adds element(s) to the dictionary if the key is not in the dictionary. 
If the key is in the dictionary, it updates the key with the new value.

In [84]:
emp_1_dict = {'name': 'Arun', 'age' : 42, 'date of birth':'02-22-1987'}                 
emp_dict   = emp_1_dict.copy()
print(emp_dict)

{'name': 'Arun', 'age': 42, 'date of birth': '02-22-1987'}

In [85]:
emp_2_dict = {'name': 'Arun', 'age' : 22, 'date of birth':'02-22-1997'} 
emp_dict.update(emp_2_dict)
print(emp_dict)

{'name': 'Arun', 'age': 22, 'date of birth': '02-22-1997'}

In [86]:
emp_3_dict = {'email-id' : 'arun@gmail.com'} 
emp_dict.update(emp_3_dict)
print(emp_dict)

{'name': 'Arun', 'age': 22, 'date of birth': '02-22-1997', 'email-id': 'arun@gmail.com'}

*We can test if a key exists in a dictionary or not using the keyword **in**.
It test the keys only, not for values.*

In [87]:
print('name' in emp_dict)

True

In [88]:
print('Age' in emp_dict);print('age' in emp_dict) # Age and age are treated differently

False
True

#### Iterating through dictionary

In [89]:
for i in emp_dict:
    print(emp_dict[i])

Arun
22
02-22-1997
arun@gmail.com

### Built-in Functions with Dictionary

Built-in functions like len() and sorted()

In [90]:
fruit_dict = {'fruit': ['apple', 'orange','mango','banana'], 'quantity': [10, 10, 6, 0]}
print('fruit_dict', fruit_dict) # prints fruit_dict
print('len(fruit_dict)', len(fruit_dict)) # Returns length
print('sorted(fruit_dict)', sorted(fruit_dict)) # Returns sorted object

fruit_dict {'fruit': ['apple', 'orange', 'mango', 'banana'], 'quantity': [10, 10, 6, 0]}
len(fruit_dict) 2
sorted(fruit_dict) ['fruit', 'quantity']

## 5 Object oriented programming examples in python

Python is an object oriented programming language.

Procedural languages lays emphasis on functions while object oriented stress on objects.
What is an object?

An object is a collection of data (variables) and methods (functions) that act on those data. Class is a blue print for the object.

This is similar to blue print of a house that defines all the construction specifications of a residential house such as floors, doors, windows etc. Based on these specifications, one can build a house. House is an object.

Refer: https://www.programiz.com/python-programming/class https://www.programiz.com/python-programming/class

We can create many objects from a class like many houses can be built from a blueprint of the house.

#### What is a class?

A class is a construct that defines a collection of properties and methods in a single unit. 
Difference between objects and class

A class does not change during the execution of a program.

Objects live only live in the program for a short time (duration of program execution). 

Every object belongs to a class and every class contains one or more related objects. 

Class is created once and object is created from the same class many times as they require. 

There is no memory space allocation for a class when it is created while memory space is allocated for an object when it is created.

An object is also called an instance of a class and the process of creating this object is called instantiation. 

#### How do you define a Class in Python?

We define a class using the key word class. We need to write a brief description about the class, though it is not mandatory but highly recommended. (Please remember you write programs for others to use!)
Create a simple class, GreetingClass which greets you with appropriate greeting message depending on the time invoked.

We create a variable participantCount, which is a class variable whose value is shared among all instances of a this class. This can be accessed as Participants.participantCount from inside the class or outside the class.
The first method init() is a special method, which is called class constructor or initialization method that Python calls when you create a new instance of this class.
You declare other class methods like normal functions with the exception that the first argument to each method is self. Python adds the self argument to the list for you; you do not need to include it when you call the methods.

Get the documentation string of the class, Participants or in other words decription of the class.

In [91]:
class Participants:
    '''
    This class accepts name of the participant and greets him/ her as appropriate.
    This also displays the count of pariticipants
    '''
    participantCount = 0 # initialize the count of participants invoking this class
    greet_msg        = ''
    import datetime
    currentTime = datetime.datetime.now()
    if currentTime.hour < 12:
       greet_msg = 'Good morning '
    elif 12 <= currentTime.hour < 18:
       greet_msg = 'Good afternoon '
    else:
       greet_msg = 'Good evening '

    def __init__(self, name): 
        self.name = name
        Participants.participantCount += 1
        
    def displayGreeting(self):
        '''
        This function greets the participant with appropriate message based on time of the day
        '''
        print( Participants.greet_msg + self.name)

In [92]:
print(Participants.__doc__) # (Note use of double under score)

    This class accepts name of the participant and greets him/ her as appropriate.
    This also displays the count of pariticipants

In [93]:
### Invoke the class object, Participants

participant1 = Participants("Raja")
participant2 = Participants("Arun")
participant3 = Participants("Amala")
participant4 = Participants("Raji")
participant5 = Participants("Swetha")
participant6 = Participants("Ashwini")

### Print the attendance
attendance_list = [participant1, participant2, participant3, participant4, participant5, participant6 ]

for x in attendance_list:
    x.displayGreeting()
    
print("\n\nTotal Participants attended %d" % Participants.participantCount)

Good morning Raja
Good morning Arun
Good morning Amala
Good morning Raji
Good morning Swetha
Good morning Ashwini


Total Participants attended 6

#### Can you create an attendance list with each participant name and time of reporting for the class?

#### Redefine the class
Use strftime("%Y-%m-%d %H:%M") to neatly display the time of invoking the class (or arrival of the particpant to the class).

In [94]:
class Participants:
    '''
    This class accepts name of the participant and greets him/ her as appropriate.
    This also displays reporting time and the count of pariticipants
    '''
    participantCount = 0 # initialize the count of participants invoking this class
    greet_msg        = ''

    import datetime
    currentTime = datetime.datetime.now()
    dtime       = currentTime.strftime("%Y-%m-%d %H:%M")
    if currentTime.hour < 12:
       greet_msg = 'Good morning '
    elif 12 <= currentTime.hour < 18:
       greet_msg = 'Good afternoon '
    else:
       greet_msg = 'Good evening '

    def __init__(self, name): 
        self.name = name
        Participants.participantCount += 1
        
    def displayGreeting(self):
        print(Participants.dtime + ' ' + Participants.greet_msg + self.name)

In [95]:
## Create attendance list

participant1 = Participants("Raja")
participant2 = Participants("Arun")
participant3 = Participants("Amala")
participant4 = Participants("Raji")
participant5 = Participants("Swetha")
participant6 = Participants("Ashwini")

### Print the attendance
attendance_list = [participant1, participant2, participant3, participant4, participant5, participant6 ]

for x in attendance_list:
    x.displayGreeting()
    
print("\n\nTotal Participants attended %d" % Participants.participantCount)

2019-03-29 06:06 Good morning Raja
2019-03-29 06:06 Good morning Arun
2019-03-29 06:06 Good morning Amala
2019-03-29 06:06 Good morning Raji
2019-03-29 06:06 Good morning Swetha
2019-03-29 06:06 Good morning Ashwini


Total Participants attended 6

In [96]:
class Employee:

    '''
    This class, Employee holds all relevant attributes of an employee either derived or provided
    Email id the first character of the last name with first name as suffix and 
    with the rest as @abc.com
    
    '''
    import datetime
    
    def __init__(self, first, last, dob, doj, salary):
         self.first       = first
         self.last        = last
         self.fullname    = first + ' ' + last
         self.email       = last[0] + first + '@abc.com'
         self.salary      = salary
         self.dob         = dob
         self.doj         = doj
            
    def  age(self):
         dob_date         = datetime.datetime.strptime(self.dob,'%Y/%m/%d').date()
         current_date     = datetime.date.today()
         return  ((current_date - dob_date)).days // 365.25 # to get the floor of the years 
        
        
        
    def  profile(self):
         print("\nProfile of Name: ",  self.fullname)
         print("Email: ", self.email)
         print("Salary: ", self.salary)
         print("Age: ", self.age(), " years")
         return '\n\nProfile displayed'

In [97]:
import datetime
emp1 = Employee('John','Vaseekaran','1989/04/02','2018/01/01', 50000)
print(emp1.profile())

Profile of Name:  John Vaseekaran
Email:  VJohn@abc.com
Salary:  50000
Age:  29.0  years


Profile displayed

### Exercise 1

Use the appropriate Error Exception to trap *module not imported error*

### Exercise 2

From the below string, find out how many vegetarians and non-vegetarians are there for meal planning for an Airline crew.

meals_pref = 'John is a non-vegetarian Peter is a non-vegetarian Suresh is a vegetarian Ramu is a Vegetarian Selvam eats Veg food Mary eats non-veg food'

### Exercise 3

Write the employee_dict, dictionary into a JSON file, **employee_profile.json** and read and display line by line. You need to pip install json

Or write the employee_dict, dictionary into a text file, **employee_profile.txt** and read and display line by line. 

Refer: https://www.quora.com/How-do-I-write-a-dictionary-to-a-file-in-Python

In [98]:
employee_dict = {'Name': ['Peter Vijay', 'Joseph Vairam','Ram Sanjay','Vignesh Arun'],\
                 'Age' : [30, 40, 23, 38],\
                 'Date of Joining' : ['2016-03-01', '2006-01-02', '2018-04-01','2012-10-11'],\
                 'Salary' : [30000, 45000, 20000, 35000]}
print(employee_dict)

{'Name': ['Peter Vijay', 'Joseph Vairam', 'Ram Sanjay', 'Vignesh Arun'], 'Age': [30, 40, 23, 38], 'Date of Joining': ['2016-03-01', '2006-01-02', '2018-04-01', '2012-10-11'], 'Salary': [30000, 45000, 20000, 35000]}

### Exercise 4

Calculate years of experience by subtracting date of joining from today's date and include in the profile. Use the same technique for calculating age.