## Missing values

### Missing data is always an issue in real world problems. 
Data can have missing values for reasons such as data corruption, failure to record etc.

#### We need to understand:
#### 1. How to identify the missing values in a large dataset?
#### 2. How to make invalid data or corrupt data as missing values?
#### 3. How to treat the missing values?

Please refer to:

* https://www.tutorialspoint.com/python_pandas/python_pandas_missing_data.htm
* https://machinelearningmastery.com/handle-missing-data-python/
* https://towardsdatascience.com/the-tale-of-missing-values-in-python-c96beb0e8a9d

### Check for Missing values

* Pandas has two functions, isnull() and notnull() to detect missing values.
* Pandas handles missing data efficiently. All of the descriptive statistics on pandas objects exclude missing data by default.
* Pandas uses the floating point value, NaN (Not a number), a sentinel value to represent missing data. 
* Numpy NaN and None represents a null value similar to NA in R

In [1]:
import pandas    as pd
import numpy     as np

num_data = pd.Series([1,2,3,4,None,5, np.NaN]) # NaN and None represents a null value similar to NA in R
print(num_data)
print(num_data.isnull())

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    NaN
dtype: float64
0    False
1    False
2    False
3    False
4     True
5    False
6     True
dtype: bool

In [2]:
str_data = pd.Series(['Cauveri','Narmada','Krishna',None,'Godhavari', np.NaN])
print(str_data)
print(str_data.isnull())

0      Cauveri
1      Narmada
2      Krishna
3         None
4    Godhavari
5          NaN
dtype: object
0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

How to get the count of missing values in each column of a pandas data frame?

In [3]:
missing_df = pd.DataFrame({'Id' : range(0,10,1), 'Val1' : [1,2,2,4,4,5,8,8,None,None],
                          'Val2': [None, None, None,1,2,3,4,5,6,7]})

In [4]:
print(missing_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Id      10 non-null int64
Val1    8 non-null float64
Val2    7 non-null float64
dtypes: float64(2), int64(1)
memory usage: 320.0 bytes
None

### Inference

From the info() function, we observe that there are 10 observations and three columns in the data frame, missing_df.
Also There are only 8 non null entries for the column, Val1 indicating that there are 2 (= 10 - 8) missing values for Var1 and 7 non null entries for the column, Val2 indicating that there are 3 (= 10 - 7) missing values for Var2.

My question is how do you find this programmatically?

In [5]:
### To find count of missing values in each column
print("\nCount of missing values")
print(missing_df.isnull().sum())

### To find percentage of missing values in each column
print("\n% of missing values")
print(round( (100 * missing_df.isnull().sum()) / missing_df.shape[0],2) )

Count of missing values
Id      0
Val1    2
Val2    3
dtype: int64

% of missing values
Id       0.0
Val1    20.0
Val2    30.0
dtype: float64

### Observation

By applying the function, sum() to the output of missing_df.isnull() command, you get column-wise missing counts.

###  2. How to make invalid data or corrupt data as missing values?

### Consider the dataset *mtcars*

The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models). 

This data set has 32 observations on 11 (numeric) variables. 

| SlNo | Column | Description |
| ----- | ----------------------- | --------------------- |
| 1 | mpg | Miles/(US) gallon| 
| 2 | cyl | Number of cylinders|  
| 3 | disp | Displacement (cu.in.)|  
| 4 | hp | Gross horsepower | 
| 5 | drat | Rear axle ratio | 
| 6 | wt | Weight (1000 lbs) | 
| 7 | qsec | 1/4 mile time | 
| 8 | vs | Engine (0 = V-shaped, 1 = straight) | 
| 9 | am | Transmission (0 = automatic, 1 = manual) | 
| 10 | gear | Number of forward gears | 
| 11 | carb | Number of carburetors |

In [6]:
mtcars_df = pd.read_csv('./data/mtcars.csv', header = 0, index_col = 0)

print(mtcars_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
mpg     32 non-null object
cyl     32 non-null int64
disp    32 non-null float64
hp      32 non-null int64
drat    32 non-null float64
wt      32 non-null float64
qsec    32 non-null float64
vs      32 non-null int64
am      32 non-null int64
gear    32 non-null int64
carb    32 non-null int64
dtypes: float64(4), int64(6), object(1)
memory usage: 3.0+ KB
None

### Inference

There are no missing values as per the above result of info() function. 

But the Data type of the column, mpg which is supposed to be integer is string (object).

Check first five rows

In [7]:
print(mtcars_df.head().T)

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21             ?       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2

### Inference

There is a non-numeric value of ? in the column, mpg which is invalid.
We shall replace it with a null value as follows:

In [8]:
mtcars_df['mpg'].replace('?', np.NaN, inplace = True)

In [9]:
print(mtcars_df.head().T)

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21           NaN       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2

In [10]:
print(mtcars_df.info())

print("\n\nColumn wise missing value total\n")
print(mtcars_df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
mpg     31 non-null object
cyl     32 non-null int64
disp    32 non-null float64
hp      32 non-null int64
drat    32 non-null float64
wt      32 non-null float64
qsec    32 non-null float64
vs      32 non-null int64
am      32 non-null int64
gear    32 non-null int64
carb    32 non-null int64
dtypes: float64(4), int64(6), object(1)
memory usage: 3.0+ KB
None


Column wise missing value total

mpg     1
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

### 3. How to treat the missing values?

Pandas missing value handling methods:

| Argument | Description |
| ------------ | ------------------------- |
| dropna | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate |
| fillna | Fill in missing data with some value or using an interpolation method such as *ffill* or *bfill*.|

###  a) Dropping null or missing value

##### This is the fastest and easiest way to handle missing values. We drop row-wise.
##### If the percentage of missing values > 40%, we drop the column.
##### This method reduces the number of observations of the model.

In [11]:
cleaned_mtcars_df = mtcars_df.dropna()
print(cleaned_mtcars_df.shape)

(31, 11)

We observe that the number of observations is reduced to 31 from 32.

It is advisable to report to the customer about missing values and outliers.

#### b) Filling missing values

#### i) Replace null or missing value with a test statistic such as mean or median

In [12]:
mean_mpg = mtcars_df['mpg'].astype('float').mean()

In [13]:
cleaned_mtcars_df1 = mtcars_df.fillna(mean_mpg) # replace with mean
print("\nAfter imputing the missing values with mean\n")
print(cleaned_mtcars_df1.head().T)

After imputing the missing values with mean

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21       20.0613       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2

In [14]:
median_mpg         = mtcars_df['mpg'].astype('float').median()
cleaned_mtcars_df2 = mtcars_df.fillna(median_mpg) # replace with median

print("\nAfter imputing the missing values with median\n")
print(cleaned_mtcars_df2.head().T)

After imputing the missing values with median

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21          19.2       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2

### ii) Use back fill or forward fill to propogate next or previous values respectively.

In [15]:
cleaned_mtcars_df3 = mtcars_df.fillna(method = 'bfill', limit = None) 
### Back ward fill and limit denotes the max. values to be imputed

print("\nAfter imputing the wtih backward fill\n")
print(cleaned_mtcars_df3.head().T)

After imputing the wtih backward fill

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21          22.8       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2

In [16]:
print(mtcars_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
mpg     31 non-null object
cyl     32 non-null int64
disp    32 non-null float64
hp      32 non-null int64
drat    32 non-null float64
wt      32 non-null float64
qsec    32 non-null float64
vs      32 non-null int64
am      32 non-null int64
gear    32 non-null int64
carb    32 non-null int64
dtypes: float64(4), int64(6), object(1)
memory usage: 3.0+ KB
None

In [17]:
cleaned_mtcars_df4 = mtcars_df.fillna(method = 'ffill', limit = None) 
### Back ward fill and limit denotes the max. values to be imputed

print("\nAfter imputing the wtih forward fill\n")
print(cleaned_mtcars_df4.head().T)

After imputing the wtih forward fill

Name Mazda RX4 Mazda RX4 Wag Datsun 710 Hornet 4 Drive Hornet Sportabout
mpg         21            21       22.8           21.4              18.7
cyl          6             6          4              6                 8
disp       160           160        108            258               360
hp         110           110         93            110               175
drat       3.9           3.9       3.85           3.08              3.15
wt        2.62         2.875       2.32          3.215              3.44
qsec     16.46         17.02      18.61          19.44             17.02
vs           0             0          1              1                 0
am           1             1          1              0                 0
gear         4             4          4              3                 3
carb         4             4          1              1                 2