In [ ]:
import re
phone_number = '93999-12345'
# Remove "-"
num = re.sub(r'\D',"", phone_number)
print(num)

In [ ]:
fp = open('new_data.txt', mode = 'w')
for i in range(5):
      print("Give your name")
      nam    = input()
      string =nam + '\n'
      fp.write(string)
fp.close()

print('\nFile cosed')
with open("new_data.txt") as f:
    for line in f:
        print(line)

In [ ]:
gl1  = "Great Lakes"
gl1s = "Great"
gl1s in gl1

In [ ]:
s1 = "Hello"
s1[0]

In [ ]:
s1[1:4]

In [ ]:
s1[:4]

In [ ]:
s1[3:]

In [ ]:
formatted_string_default = "{}, {}".format('Hello','World')
print(formatted_string_default)

In [ ]:
formatted_string_position = "{0}, {1}".format('Hello','World')
print(formatted_string_position)

In [ ]:
formatted_string_key = "{h}, {w}".format(h = 'Hello', w= 'World')
print(formatted_string_key)

In [ ]:
print("%s" %"Hello World")

In [ ]:
main_string = 'Great Lakes'
print(main_string.find('Lakes'))
print(main_string.index('Lakes'))

In [ ]:
import MySQLdb

In [ ]:
print(MySQLdb.__version__) # to know which version of MySQLdb connector is used

In [ ]:
conn = MySQLdb.connect (host   = "localhost",
                        user   = "pma", 
                        passwd = "Abc@123", 
                        db     = "test")

In [ ]:
cursor_db         =  conn.cursor()
cursor_db.execute("SELECT VERSION()")
ver               =  cursor_db.fetchone()
print("Server version: ", ver[0])

In [ ]:
conn              =  MySQLdb.connect (host   = "localhost",
                                      user   = "pma", 
                                      passwd = "Abc@123", 
                                      db     = "test")

In [ ]:
cursor_db         =  conn.cursor()

In [ ]:
print('Drop table if it already exist using execute() method to avoid error')
cursor_db.execute("DROP TABLE IF EXISTS EMPLOYEE")

In [ ]:
print('Create table EMPLOYEE with EMPID, FIRST_NAME, LAST_NAME, AGE, SALARY')

sql = """CREATE TABLE EMPLOYEE (
EMPID       CHAR(5) NOT NULL,
FIRST_NAME  CHAR(30) NOT NULL,
LAST_NAME   CHAR(30),
AGE         INT(2),
SALARY      FLOAT(8,2))"""
cursor_db.execute(sql)

In [ ]:
print('Drop table if it already exist using execute() method to avoid error')
cursor_db.execute("DROP TABLE IF EXISTS LEAVES")

In [ ]:
print('Create table LEAVE with EMPID AND LEAVE_DAYS')
sql = """CREATE TABLE LEAVES (
EMPID            CHAR(5) NOT NULL,
LEAVE_DAYS       FLOAT(5,2))"""
cursor_db.execute(sql)

In [ ]:
sql           = """INSERT EMPLOYEE (EMPID, FIRST_NAME, LAST_NAME, AGE, SALARY)\
                   VALUES (%s, %s, %s, %d, %8.2f)""" \
                   % ("'E010'","'Wassim'", "'Jaffer'", 45, 0.0)
print(sql)
try:
    # Execute the SQL command
    cursor_db.execute(sql)
# Commit your changes in the database
    conn.commit()
except:
# Rollback in case there is any error
    print('Error')
    conn.rollback()

In [ ]:
emp_dict = {'EMPID' : ['E001', 'E002', 'E003', 'E004', 'E005',\
                       'E006', 'E007', 'E008', 'E009', 'E011'],\
            'FIRST_NAME' : ['Arun','Anand','Ajay','Babu','Basu',\
                            'Chinna','Christy','Deepa','Elizabeth','Fawlin'],
            'LAST_NAME' : ['Sampath','Saravanan','Tkare','John','Ganesh',\
                           'Tanmbi','John','Gopalan','Rose','Pandian'],
            'AGE' : [24, 26, 28, 32, 34, 37, 40, 41, 42, 50],
            'SALARY' : [62500.00, 70000.00, 65000.00, 67500.00,\
                        82500.00, 92500.00, 99500.00, 90500.00,\
                        99900.00,  94500.00]}

n = len(emp_dict)

for i in range(n):
    
    empid = '%s' % emp_dict['EMPID'][i]     
    fn    = '%s' % emp_dict['FIRST_NAME'][i] 
    ln    = '%s' % emp_dict['LAST_NAME'][i] 
    age   = emp_dict['AGE'][i] 
    sal   = emp_dict['SALARY'][i]
    
    values_string = '(' + "\'" + empid + "\'," + "\'" + fn + "\'," + "\'" + \
                    ln + "\'," + str(age) + "," + str(sal) + ')'
    
    sql           = """INSERT EMPLOYEE (EMPID, FIRST_NAME, LAST_NAME,AGE, SALARY)\
                    VALUES %s""" % (values_string)
    print(sql)

    try:
    # Execute the SQL command
        cursor_db.execute(sql)
# Commit your changes in the database
        conn.commit()
    except:
    # Rollback in case there is any error
        print('Error')
        conn.rollback()

In [ ]:
leaves_dict = {'EMPID' : ['E001', 'E002', 'E003', 'E004'],\
               'LEAVE_DAYS' : [1.5, 2.0, 3.5, 1.0]}

n = len(leaves_dict)

for i in range(n):
    
    empid    = '%s' % leaves_dict['EMPID'][i]     
    leaves   = leaves_dict['LEAVE_DAYS'][i] 
    
    values_string = '(' + "\'" + empid + "\'," + str(leaves)+ ')'
    
    sql           = """INSERT LEAVES (EMPID, LEAVE_DAYS)\
                    VALUES %s""" % (values_string)
    print(sql)

    try:
    # Execute the SQL command
        cursor_db.execute(sql)
# Commit your changes in the database
        conn.commit()
    except:
    # Rollback in case there is any error
        print('Error')
        conn.rollback()

In [ ]:
print('Get a count of all records from the table, EMPLOYEE')
sql = """SELECT COUNT(*) FROM EMPLOYEE"""
cursor_db.execute(sql)
print('Fetch one record holding the count')
results = cursor_db.fetchone()
print('Count of records in EMPLOYEE table is ', results[0])

In [ ]:
print('Get a list of all records from the table, EMPLOYEE')
sql = """SELECT * FROM EMPLOYEE"""
cursor_db.execute(sql)
print('Fetch all the records')
results = cursor_db.fetchall()

for rec in results:
    eid = rec[0]
    fn  = rec[1]
    ln  = rec[2]
    age = rec[3]
    sal = rec[4]
    print("\n Empid = %s, first_name = %s,last_name = %s,\
              age = %d, salary = %d" % (eid, fn, ln, age, sal))

In [ ]:
print('Get a count of all records from the table, LEAVES')
sql = """SELECT COUNT(*) FROM LEAVES"""
cursor_db.execute(sql)
print('Fetch one record giving us the count')
results = cursor_db.fetchone()
print('Count of records in LEAVES table is ', results[0])

In [ ]:
print('Get a list of all records from the table, LEAVES')
sql = """SELECT * FROM LEAVES"""
cursor_db.execute(sql)
print('Fetch all the records')
results = cursor_db.fetchall()

for rec in results:
    eid     = rec[0]
    leaves  = rec[1]
    print("\n Empid = %s, leave_days = %3.1f" % (eid, leaves))

In [ ]:
print('Get a list of all employees who availed leave')
sql = """SELECT EMPLOYEE.EMPID, EMPLOYEE.FIRST_NAME, EMPLOYEE.LAST_NAME,\
         LEAVES.LEAVE_DAYS \
         FROM EMPLOYEE, LEAVES
         WHERE EMPLOYEE.EMPID = LEAVES.EMPID"""
cursor_db.execute(sql)
results = cursor_db.fetchall()

print("\nEmpID\tFIRST_NAME\tLAST_NAME\tLEAVE_DAYS")
for rec in results:
    eid     = rec[0]
    fn      = rec[1]
    ln      = rec[2]
    leaves  = rec[3]
    print(f"{eid}'\t'{fn}'\t\t'{ln}'\t'{leaves}")

In [ ]:
print('Get a list of all employees with availed leave details')
sql = """SELECT EMPLOYEE.EMPID, EMPLOYEE.FIRST_NAME, EMPLOYEE.LAST_NAME,\
         EMPLOYEE.AGE, EMPLOYEE.SALARY, \
         IFNULL(LEAVES.LEAVE_DAYS,0) \
         FROM EMPLOYEE  \
         LEFT JOIN LEAVES \
         ON EMPLOYEE.EMPID = LEAVES.EMPID
         WHERE EMPLOYEE.AGE > 26"""
cursor_db.execute(sql)
results = cursor_db.fetchall()

print("\nEmpID\tFIRST_NAME\tLAST_NAME\tAGE \tSALARY\t\tLEAVE_DAYS")
for rec in results:
    eid     = rec[0]
    fn      = rec[1]
    ln      = rec[2]
    age     = rec[3]
    salary  = rec[4]
    leaves  = rec[5]
    print('%4s\t%s\t\t%s\t\t%2d\t%8.2f\t%5.2f'\
          %(eid, fn, ln, age, salary, leaves))

In [ ]:
sql           = """UPDATE EMPLOYEE SET SALARY = %8.2f \
                   WHERE EMPID = %s""" \
                   % (56000.00, "'E010'") 
print(sql)
try:
    # Execute the SQL command
    cursor_db.execute(sql)
# Commit your changes in the database
    conn.commit()
except:
# Rollback in case there is any error
    print('Error')
    conn.rollback()

In [ ]:
print('Get a list of all employees with availed leave details')
sql = """SELECT EMPLOYEE.EMPID, EMPLOYEE.FIRST_NAME, EMPLOYEE.LAST_NAME,\
         EMPLOYEE.AGE, EMPLOYEE.SALARY, \
         IFNULL(LEAVES.LEAVE_DAYS,0) \
         FROM EMPLOYEE  \
         LEFT JOIN LEAVES \
         ON EMPLOYEE.EMPID = LEAVES.EMPID
         WHERE EMPLOYEE.AGE > 26"""
cursor_db.execute(sql)
results = cursor_db.fetchall()

print("\nEmpID\tFIRST_NAME\tLAST_NAME\tAGE \tSALARY\t\tLEAVE_DAYS")
for rec in results:
    eid     = rec[0]
    fn      = rec[1]
    ln      = rec[2]
    age     = rec[3]
    salary  = rec[4]
    leaves  = rec[5]
    print('%4s\t%s\t\t%s\t\t%2d\t%8.2f\t%5.2f'\
          %(eid, fn, ln, age, salary, leaves))

In [ ]:
sql           = """DELETE FROM EMPLOYEE WHERE EMPID = %s""" \
                   % ("'E010'") 
print(sql)
try:
    # Execute the SQL command
    cursor_db.execute(sql)
# Commit your changes in the database
    conn.commit()
except:
# Rollback in case there is any error
    print('Error')
    conn.rollback()

In [ ]:
print('Get a list of all employees with availed leave details')
sql = """SELECT EMPLOYEE.EMPID, EMPLOYEE.FIRST_NAME, EMPLOYEE.LAST_NAME,\
         EMPLOYEE.AGE, EMPLOYEE.SALARY, \
         IFNULL(LEAVES.LEAVE_DAYS,0) \
         FROM EMPLOYEE  \
         LEFT JOIN LEAVES \
         ON EMPLOYEE.EMPID = LEAVES.EMPID
         WHERE EMPLOYEE.AGE > 26"""
cursor_db.execute(sql)
results = cursor_db.fetchall()

print("\nEmpID\tFIRST_NAME\tLAST_NAME\tAGE \tSALARY\t\tLEAVE_DAYS")
for rec in results:
    eid     = rec[0]
    fn      = rec[1]
    ln      = rec[2]
    age     = rec[3]
    salary  = rec[4]
    leaves  = rec[5]
    print('%4s\t%s\t\t%s\t\t%2d\t%8.2f\t%5.2f'\
          %(eid, fn, ln, age, salary, leaves))

In [ ]:
print('Disconnect from server and release resources')
cursor_db.close()

In [ ]:
import json

with open('sample.json', 'r') as f:
    sample_dict = json.load(f)

print('\nDictionary from JSON object\n') 
print(sample_dict)

In [ ]:
for _ in sample_dict:
    print('Key:', _.keys())
    print('\nName:', _['Name'])

In [ ]:
sample_dict = {"Name"  : ["Peter","John", "Swetha", "Xavier"], "Age" :  [27, 31, 33, 34],\
               "Married" : [False, True, True, True]}  
print('sample_dict', sample_dict)

In [ ]:
import json
json_string1 = json.dumps(sample_dict)
print("JSON string\n", json_string1)

In [ ]:
with open('customer.json', 'w') as f: # writing JSON object
    json.dump(json_string1, f)

In [ ]:
from os import path
path.exists("customer.json")

In [ ]:
import json
json.loads('{ "active": true, "age": 34, "name": "Benson",\
               "other_names": ["Peter Jr","Ben"],"married": true}')

In [ ]:
import json

with open('customer.json', 'r') as f:
    sample_dict = json.load(f)

print('\nDictionary from JSON object\n') 
print(sample_dict)

In [ ]:
sample_JSON_object = {"Name": "Peter", "Surname" : "John", "Age": 27, "Married" : False}

In [ ]:
from pandas.io.json import json_normalize
json_normalize(sample_JSON_object)

In [ ]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [ ]:
sample_object1 = {"Name": "Peter","Age": 27, "Married": False,\
                  "Hobbies" : ["Reading", "GOlf", "Watch movies"]}
flat = flatten_json(sample_object1)
json_normalize(flat)

In [ ]:
tuple1 = 123, 345, 556, 'Hi' # not surrounded by paranthesis
print('tuple1', tuple1, 'type', type(tuple1))

In [ ]:
tuple2 = ('Arun','Ajay','Alex') # surrounded by paranthesis
print('tuple2', tuple1, 'type', type(tuple2))

In [ ]:
empty_tuple = ()

In [ ]:
print(empty_tuple, type(empty_tuple))

In [ ]:
single_value = (4)  # without comma

In [ ]:
print(single_value, type(single_value))

In [ ]:
single_value = (4,)  # with comma

In [ ]:
print(single_value, type(single_value))

In [ ]:
x = 1
y = 2
z = 3
x, y, z = z, y, x

In [ ]:
print('x', x)
print('y', y)
print('z', z)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1, type(tuple1))

In [ ]:
tuple1 = ('A', 'B', 'C', 'D', 'E') # Reassignment
print(tuple1, type(tuple1))

In [ ]:
try:
    tuple1[0] = 'a'
    
except Exception as e:
    print('\nError')
    print(e)

In [ ]:
x = ('John', 27, 'Lawyer') # pack to a tuple
print(x, type(x))

In [ ]:
(name, age, profession) = x # unpack to variables
print('name = ',name, 'age = ', age, 'profession = ', profession)

In [ ]:
tuple_n = ('Peter','John','Moses')
tuple_n

In [ ]:
tuple_n[0] # Access its first element

In [ ]:
tuple_n[-1]  # to get last element

In [ ]:
print(tuple_n[0 : 2])  # to get first two elements using positive index
print(tuple_n[-2:])  # to get upto last two elements using negative index
print(tuple_n[-2 : -1]) # to get second last element using negative index

In [ ]:
del tuple_n

In [ ]:
try:
    print(tuple_n)
except Exception as e:
    print('\nError:', end = ',')
    print(e)

In [ ]:
tuple_numeric = (12, 14, 13, 11, 20, 43, 49, 98)
ln            = len(tuple_numeric) # ln is the length of the tuple
mx            = max(tuple_numeric) # mx is the highest value in the tuple
mn            = min(tuple_numeric) # mn is the lowest value in the tuple
sm            = sum(tuple_numeric) # sm is the sum of all items in the tuple
print('\ntuple\n')
print('length of tuple: ', ln)
print('max value of tuple: ', mx)
print('minimum value of tuple: ', mn)
print('sum of all values of tuple: ', sm)

In [ ]:
sorted(tuple_numeric)

In [ ]:
tuple_bool = [0, 1, 0, 1, 1] # 0 denotes True and 1 denotes False
print('\nany: ', any(tuple_bool))
print('\nall: ', all(tuple_bool))

In [ ]:
tuple_bool.index(1)

In [ ]:
tuple_bool.count(1)

Tuple operations
a. Membership informs us whether the given item appears in the tuple.
b. Concatenation joins two tuples using the operator, +.
c.  Logical operators such as >, <, >=, ... can be applied on a tuple and it returns True or False.
d. Identity operator is returns True, if the two operands have the same idenity where as is not returns True if the two operands have the same identity.

In [ ]:
a = 'S'
tuple_a = tuple(a)
print('tuple_a: ', tuple_a, 'type: ', type(tuple_a))

In [ ]:
tuple_numeric = (12, 14, 13, 11, 20, 43, 49, 98)
tuple_numeric1 = (100, 200)

print(tuple_numeric)
print(10 in tuple_numeric) # in operator
print(100 not in tuple_numeric) # not in operator
print('concatenate using + ', tuple_numeric + tuple_numeric1) # concatenate two tuples
print('tuple_numeric < tuple_numeric1 ',  tuple_numeric < tuple_numeric1) # Logical operator <
print('tuple_numeric is tuple_numeric1 ',  tuple_numeric is tuple_numeric1) # identity opertor

In [ ]:
tuple_numeric = (12, 14, 13, 11, 20, 43, 49, 98)
for i in tuple_numeric:
    print("i = ",i)

In [ ]:
list1  = [1,2,3, 44, 55, 67, 770] # elements enclosed within []
tuple1 = (1,33, 55, 66, 'A', 'B') # elements of different data types
list2  = list(tuple1)  # convert tuple to a list 
list   = [list1, list2] # nested lists

In [ ]:
print('list1: ', list1, 'type: ', type(list1))
print('list2: ', list2, 'type: ', type(list2))
print('list:  ', list, 'type: ', type(list))

In [ ]:
empty_list = []
print('empty_list: ', empty_list, 'type: ', type(empty_list))

In [ ]:
single_Value_list = [12]
print('single_Value_list: ', single_Value_list, 'type: ', type(single_Value_list))

In [ ]:
[a, b, c] = [[1,2,23], ['aa','bb','cc'],[1,2,3]]
print('a: ', a, 'type(a): ', type(a))
print('b: ', b, 'type(b): ', type(b))
print('c: ', c, 'type(c): ', type(c))

In [ ]:
first, *others = range(0, 1000, 2)
print('first: ', first, ' type: ', type(first))

In [ ]:
first, *others, last = range(0, 1000, 2)
print('first: ', first, ' type: ', type(first))
print('last:  ', last,  ' type: ', type(last))

In [ ]:
print('others:  ', others,  ' type: ', type(others))

In [ ]:
a, _, b, _, c, _, *_ = range(0, 100, 4)
print('a: ', a, ' type: ', type(a))
print('b: ', b, ' type: ', type(b))
print('c: ', c, ' type: ', type(c))

In [ ]:
list_numbers = [1, 2 , 3, 4 ,5, 6, 7, 8, 9, 10]
print('list_numbers: ', list_numbers, 'type: ', type(list_numbers))

In [ ]:
list_numbers[1] # to access the second element

In [ ]:
list_numbers[-1] # to access the last element

In [ ]:
list_numbers = [1, 2 , 3, 4 ,5, 6, 7, 8, 9, 10]
print(list_numbers[0:2])  # to get first two elements using positive index
print(list_numbers[-2:])  # to get upto last two elements using negative index
print(list_numbers[-2:-1]) # to get second last element using negative index

In [ ]:
fruits = ['apple', 'orange', 'banana', 'pineapple']
fruits = ['apple',  'banana', 'orange','pear', 'pineapple'] # Reassign a new list
print('new list ',fruits, 'type ', type(fruits))

In [ ]:
fruits[4:] = ['Pomegranate', 'Grape']
print('new list ',fruits, 'type ', type(fruits))

In [ ]:
fruits[2] = 'Cherry'
print('new list ',fruits, 'type ', type(fruits))

In [ ]:
del fruits[2] # delete a slice
print('remaining List ',fruits, 'type ', type(fruits)) # Cherry is deleted

In [ ]:
del fruits

In [ ]:
try:
    print(fruits)
except Exception as e:
    print('\nError:', end = ',')
    print(e)

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [22, 33, 44, 55, 66]
list  = list1 + list2
print('list1: ', list1, 'type ', type(list1))
print('list2: ', list2, 'type ', type(list2))
print('list:  ', list,  'type ', type(list))

In [ ]:
list_zeros = [0] * 10
print('list_zeros: ', list_zeros, 'type ', type(list_zeros))

In [ ]:
list1 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print('5 in list1 ', 5 in list1)        # using in operator
print('50 not in list1 ', 50 not in list1)  # using not in operator

In [ ]:
for i in list1:
    if i % 2 == 0:
        print('i = ', i,' is even')
    else:
        print('i = ', i,' is odd')

In [ ]:
odd_number_list = [i for i in range(10) if i%2 != 0]
print('odd_number_list ', odd_number_list , 'type', type(odd_number_list ))

In [ ]:
list_numeric = [12, 14, 13, 11, 20, 43, 49, 98]
ln            = len(list_numeric) # ln is the length of the list
mx            = max(list_numeric) # mx is the highest value in the list
mn            = min(list_numeric) # mn is the lowest value in the list
sm            = sum(list_numeric) # sm is the sum of all items in the list
print('\nlist\n')
print('length of list: ', ln)
print('max value of list: ', mx)
print('minimum value of list: ', mn)
print('sum of all values of list: ', sm)

In [ ]:
sorted(list_numeric)

In [ ]:
list_bool = [0, 1, 0, 1, 1] # 0 denotes True and 1 denotes False
print('\nany: ', any(list_bool))
print('\nall: ', all(list_bool))

In [ ]:
print([chr(i) for i in range(ord('a'),ord('z')+1)], end = ',')

In [1]:
tuple1 = (1, 33, 55, 66, 'A', 'B'") # elements of different data types
print('\ntuple1: ', tuple1, ' type ', type(tuple1))

tuple1:  (1, 33, 55, 66, 'A', 'B')  type  <class 'tuple'>

In [2]:
list1   = list("ABC")
print('\nlist1 : ', list1,  ' type ', type(list1))

list1 :  ['A', 'B', 'C']  type  <class 'list'>

In [ ]:
list1   = list("ABC")
print('\nlist1 : ', list1,  ' type ', type(list1))

In [11]:
list_numeric = [12, 14, 13, 11, 20, 20, 20, 43, 49, 98]
list_numeric.append(100)     # adds an item to the end of the list 
print('list_numeric.append(100)', list_numeric)

list_numeric.append(100) [12, 14, 13, 11, 20, 20, 20, 43, 49, 98, 100]

In [3]:
list_numeric.insert(1,10)    #inserts an item 10 at a specified position, 1
print('list_numeric.insert(1,10)', list_numeric)

list_numeric.insert(1,10) [12, 10, 14, 13, 11, 20, 20, 20, 43, 49, 98, 100]

In [4]:
list_numeric.remove(100)     #removes the first instance of an item from the python list
print('list_numeric.remove(100)', list_numeric)

list_numeric.remove(100) [12, 10, 14, 13, 11, 20, 20, 20, 43, 49, 98]

In [5]:
list_numeric.pop(1)          #removes the element at the specified index, 1 
print('list_numeric.pop(1)', list_numeric)

list_numeric.pop(1) [12, 14, 13, 11, 20, 20, 20, 43, 49, 98]

In [6]:
list_numeric.sort()      #sorts the list in an ascending order
print('list_numeric.sort()', list_numeric)

list_numeric.sort() [11, 12, 13, 14, 20, 20, 20, 43, 49, 98]

In [7]:
list_numeric.reverse()   #reverses the order of elements in the Python lists
print('list_numeric.reverse()', list_numeric)

list_numeric.reverse() [98, 49, 43, 20, 20, 20, 14, 13, 12, 11]

In [12]:
list_numeric.index(14)     #returns the first matching index of the specified item
print('list_numeric.index(14)', list_numeric.index(14))

list_numeric.index(14) 1

In [13]:
list_numeric.count(20)     #returns the count of the specified item
print('list_numeric.count(20)', list_numeric.count(20))

list_numeric.count(20) 3

In [14]:
list_numeric.clear()     #empties the python list
print('list_numeric.clear()', list_numeric)

list_numeric.clear() []

In [15]:
set_1 = {1, 2, 3, 'S', (1,2,3), 4.5} 
print('set_1: ', set_1, 'type ', type(set_1))

set_1:  {1, 2, 3, 4.5, 'S', (1, 2, 3)} type  <class 'set'>

In [ ]:
clear()

In [18]:
empty_set = set()
print('empty_set', empty_set, 'type ', type(empty_set))

empty_set set() type  <class 'set'>

In [19]:
empty_set_wrong = {} # This will create a empty dictionary
print('empty_set_wrong', empty_set_wrong, 'type ', type(empty_set_wrong))

empty_set_wrong {} type  <class 'dict'>

In [1]:
set_1 = {1, 2, 3, 'S', (1,2,3), 4.5} 
set_1.add(44) 
print('set_1: ', set_1, 'type ', type(set_1))

set_1:  {1, 2, 3, 'S', 4.5, 44, (1, 2, 3)} type  <class 'set'>

In [2]:
set_1 = {1, 2, 3, 'S', (1,2,3), 4.5} 
set_1.update({900, 901, 902})
print('set_1: ', set_1, 'type ', type(set_1))

set_1:  {1, 2, 3, 'S', 4.5, 900, 901, 902, (1, 2, 3)} type  <class 'set'>

In [3]:
set_duplicates = {1, 1, 1, 2, 2, 3, 4} # duplicates are removed
print('set_duplicates: ', set_duplicates, 'type ', type(set_duplicates))

set_duplicates:  {1, 2, 3, 4} type  <class 'set'>

In [4]:
set_1 = {1, 2, 3, 'S', (1,2,3), 4.5} 
set_2 = set_1.add(45)
print('set_2: ', set_2, 'type ', type(set_2))

set_2:  None type  <class 'NoneType'>

In [1]:
set_n = {10, 9, 8}
set_n.clear() # clear() to remove all elements from a set

In [2]:
print('set_n: ', set_n, 'type ', type(set_n))

set_n:  set() type  <class 'set'>

In [8]:
set_A = {'Apple', 'Banana', 'Orange'}
set_B = {'Banana', 'Orange'}

### to find the difference between two sets
print('set_B.difference(set_A)', set_B.difference(set_A)) 
print('set_A.difference(set_B)', set_A.difference(set_B)) 

### issubset() to test if the given set is a subset of another set
print('set_B.issubset(set_A)', set_B.issubset(set_A)) 
print('set_A.issubset(set_B)', set_A.issubset(set_B)) 

### issuperset() to test if the given set is a super set
print('set_B.issuperset(set_A)', set_B.issuperset(set_A)) 
print('set_A.issuperset(set_B)', set_A.issuperset(set_B))

set_B.difference(set_A) set()
set_A.difference(set_B) {'Apple'}
set_B.issubset(set_A) True
set_A.issubset(set_B) False
set_B.issuperset(set_A) False
set_A.issuperset(set_B) True

In [10]:
set_A = {'Apple', 'Banana', 'Orange'}
set_B = {'Banana', 'Orange', 'Grape', 'Pineapple'}
print('set_A | set_B)', set_A | set_B) # union operator
print('set_A & set_B)', set_A & set_B) # intersection operator
print('set_A - set_B)', set_A - set_B) # Difference operator
print('set_A ^ set_B)', set_A ^ set_B) # Symmetric Difference operator

set_A | set_B) {'Pineapple', 'Grape', 'Banana', 'Apple', 'Orange'}
set_A & set_B) {'Banana', 'Orange'}
set_A - set_B) {'Apple'}
set_A ^ set_B) {'Grape', 'Apple', 'Pineapple'}

In [5]:
set_n = {10, 9, 8}
set_n.remove(8) # remove() to remove elements from a set
print('set_n: ', set_n, 'type ', type(set_n))

set_n:  {9, 10} type  <class 'set'>

In [19]:
import math
nn = -10.8
np = 3.5
print(math.trunc(nn))
print(math.trunc(np))

-10
3

In [1]:
preference_dict = {'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

preference_dict:  {'furits': ['Apple', 'Banana', 'Orange', 'Grapes']} type:  <class 'dict'>

In [2]:
dict_n = {}
print('dict_n: ', dict_n, 'type: ', type(dict_n))

dict_n:  {} type:  <class 'dict'>

In [5]:
preference_dict = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
name_dictn       = preference_dict['Name']
print('Using key to access dictionary elements')
print('name_dictn: ', name_dictn, 'type: ', type(name_dictn))

name_dictg       = preference_dict.get('Name')
print('\nUsing get() method to access dictionary elements')
print('name_dictg: ', name_dictg, 'type: ', type(name_dictg))

Using key to access dictionary elements
name_dictn:  Pandian type:  <class 'str'>

Using get() method to access dictionary elements
name_dictg:  Pandian type:  <class 'str'>

In [11]:
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
preference_dict['Age']   = 27
print('after adding dictionary elements')
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

after adding dictionary elements
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes'], 'Age': 27} type:  <class 'dict'>

In [7]:
preference_dict['Age']   = 57
print('after updating dictionary elements')
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

after updating dictionary elements
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes'], 'Age': 57} type:  <class 'dict'>

In [8]:
del preference_dict['Age']
print('after deleting dictionary key "Age"')
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

after deleting dictionary key "Age"
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes']} type:  <class 'dict'>

In [12]:
del preference_dict

### Check if we have removed the dictionary

try:
    print(preference_dict)
    
except Exception as e:
    print('\nError in statement: ', end = '> ')
    print(e)

Error in statement: > name 'preference_dict' is not defined

In [14]:
### copy() returns a shallow copy of the dictionary

preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
preference_dict_copy     = preference_dict.copy()
print('preference_dict_copy: ', preference_dict_copy, 'type: ', type(preference_dict_copy))

preference_dict_copy:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes']} type:  <class 'dict'>

In [15]:
### clear() removes all items from the dictionary

preference_dict_copy.clear() 

### Check if we have removed all the elements from the dictionary

try:
    print(preference_dict_copy)
    
except Exception as e:
    print('\nError in statement: ', end = '> ')
    print(e)

{}

In [16]:
### pop() removes and returns an element from a dictionary given a key
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
preference_dict['Age']   = 27
print('\nBefore pop()')
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))
preference_dict.pop('Age')
print("\nAfter pop('Age')")
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

Before pop()
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes'], 'Age': 27} type:  <class 'dict'>

After pop('Age')
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes']} type:  <class 'dict'>

In [20]:
### popitem() removes the arbitrary key-value pair from the dictionary and returns it as tuple.
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
preference_dict['Age']   = 27
print('\nBefore pop()')
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))
print('preference_dict.popitem(): ', preference_dict.popitem())
print("\nAfter popitem()")
print('preference_dict: ', preference_dict, 'type: ', type(preference_dict))

Before pop()
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes'], 'Age': 27} type:  <class 'dict'>
preference_dict.popitem():  ('Age', 27)

After popitem()
preference_dict:  {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes']} type:  <class 'dict'>

In [21]:
### get is used to access a value of a given key
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
preference_dict['Age']   = 27
print("preference_dict.get('Age'): ", preference_dict.get("Age"))

preference_dict.get('Age'):  27

In [22]:
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("preference_dict.values(): ", preference_dict.values())

preference_dict.values():  dict_values(['Pandian', ['Apple', 'Banana', 'Orange', 'Grapes']])

In [23]:
### keys() returns a list of dictionary keys
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("preference_dict.keys(): ", preference_dict.keys())

preference_dict.keys():  dict_keys(['Name', 'furits'])

In [24]:
### items() returns a list of key:value tuple pairs
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("preference_dict.items(): ", preference_dict.items())

preference_dict.items():  dict_items([('Name', 'Pandian'), ('furits', ['Apple', 'Banana', 'Orange', 'Grapes'])])

In [29]:
### <key> in <dictionary>.keys() returns true if key is found in the dictionary; false otherwise
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("'Name' in preference_dict.keys(): ", 'Name' in preference_dict.keys())

'Name' in preference_dict.keys():  True

In [37]:
sequence_1 = {'A', 'B', 'C', 'D'}
### Using fromkeys() convert a sequence to dict, initializing with 1
new_dict      = dict.fromkeys(sequence_1, 1)
print('\nConvert a sequence to a dict using fromkeys()')
print("dict.fromkeys(sequence_1): ", dict.fromkeys(sequence_1,1), ' type: ', type(new_dict))

Convert a sequence to a dict using fromkeys()
dict.fromkeys(sequence_1):  {'C': 1, 'A': 1, 'B': 1, 'D': 1}  type:  <class 'dict'>

In [ ]:
### fromkeys() creates a new dictionary with keys from seq and values set to value
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}

d                        =  preference_dict.fromkeys(range(99))' 'd.has_key(12)

print("'Name' in preference_dict.keys(): ", 'Name' in preference_dict.keys())

In [40]:
### str() produces a printable representation of a dictionary
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("str(preference_dict)", str(preference_dict))

str(preference_dict) {'Name': 'Pandian', 'furits': ['Apple', 'Banana', 'Orange', 'Grapes']}

In [41]:
### len() produces length of a dictionary
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("len(preference_dict)", len(preference_dict))

len(preference_dict) 2

In [42]:
###type() returns the type of the passed variable
preference_dict          = {'Name': 'Pandian', 'furits' : ['Apple', 'Banana', 'Orange', 'Grapes']}
print("type(preference_dict)", type(preference_dict))

type(preference_dict) <class 'dict'>